.products-carousel-wrapper {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.sm{
    height: 280px;
}

.md{
    height: 415px;
}


.products-carousel-wrapper .carousel-control-next, 
.products-carousel-wrapper .carousel-control-prev {
    width: 60px; /* Tamaño del botón */
    height: 60px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    color: #9ac1fc;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
}

/* Ajusta la posición de los botones para que sobresalgan */
.products-carousel-wrapper .carousel-control-prev {
    left: -30px; /* Mueve el botón fuera del contenedor */
}

.products-carousel-wrapper .carousel-control-next {
    right: -30px; /* Mueve el botón fuera del contenedor */
}

.products-carousel-wrapper .carousel-control-next:hover, 
.products-carousel-wrapper .carousel-control-prev:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.products-carousel-wrapper {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.products-carousel-wrapper .carousel-inner {
    height: 100%;
}

.products-carousel-wrapper .carousel-item {
    height: 100%;
}

.products-carousel-wrapper .carousel-item > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.products-carousel-title {
    font-size: 1.3rem;
    padding: 14px;
    padding-bottom: 0;
}